<div class="project-card">
  <a class="project-card__link" href="{{ include.project.url }}">
    {% if include.project.thumb %}
      <img class="project-card__img" src="{{ include.project.thumb }}" alt="">
    {% endif %}
    <div class="project-card__body">
      <h3 class="project-card__title">{{ include.project.title }}</h3>
      {% if include.project.summary %}
        <p class="project-card__summary">{{ include.project.summary }}</p>
      {% endif %}
<ul class="project-card__meta">
  {% if include.project.role %}<li>{{ include.project.role }}</li>{% endif %}
  {% if include.project.year %}
    <li>{{ include.project.year }}</li>
  {% elsif include.project.date %}
    <li>{{ include.project.date | date: "%Y" }}</li>
  {% endif %}
</ul>
    </div>
  </a>
</div>
